<p id="notice"><%= notice %></p>


<% if @text_image.content %>
<p>
  <strong>Content:</strong>
  <%= @text_image.content %>
</p>
<% else %>
  <p>
    Processing
  </p>
<% end %>

<%= link_to 'Edit', edit_text_image_path(@text_image) %> |
<%= link_to 'Back', text_images_path %>
